<!DOCTYPE html>
<html>
<head>
	<title>Serverless Demo</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app="app" ng-controller="controller">
<div class="container">
	<h1>Serverless Demo</h1>
	<div class="row">
		<div class="col-md-10 form-group">
			<input class="form-control" type="text" ng-model="newMessage" placeholder="Enter Message" ng-keypress="($event.which === 13)?post():0">
		</div>
		<div class="col-md-2 form-group">
			<button class="btn btn-primary" ng-click="post()">POST</button>
		</div>
	</div>
	<div class="row">
		<div class="alert alert-danger alert-dismissable" ng-show="errorMessage">
			<a class="close" data-dismiss="alert" aria-label="close">&times;</a>			
			<span>{{errorMessage}}</span>
		</div>
		<div class="row" ng-repeat="_message in allMessages; track by $index">
			<div class="col-md-1">{{$index+1}}</div>
			
			<div class="col-md-9 form-group" ng-show="_message.showUpdateOption" >
				<input class="form-control" type="text" ng-model="_message.value" ng-keypress="($event.which === 13)?update($index, _message.value):0">
			</div>			
			<button class="btn btn-primary col-md-1" ng-show="_message.showUpdateOption" ng-click="update($index, _message.value)">Update</button>			

			<div class="col-md-9" ng-show="!_message.showUpdateOption">{{_message.value}}</div>						
			<button class="btn btn-primary col-md-1" ng-show="!_message.showUpdateOption" ng-click="_message.showUpdateOption=true">Edit</button>			
			<button class="btn btn-danger col-md-1" ng-click="delete($index)">Delete</button>		
		</div>
	</div>
</div>
</body>
</html>